.card {
  margin: 10% 10%;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: whitesmoke;
  width: 0 auto;
}

.box {
  margin: 2% 2%;
}

.input {
  width: 80%;
}

.submit {
  width: 5rem;
}

i {
  color: red;
}

table {
  border-collapse: collapse;
  width: 70%;
  align-content: center;
  padding: 2%;
  margin: 3%;
}
th, td, thead {
  padding: 0.25rem;
  text-align: left !important;
  border: 1px solid #ccc;
  
}
tbody tr:nth-child(odd) {
  background: #eee;
}
